:root {
    --base-colour: white;
    --base-variant: #fffdd0;
    --text-colour: #e06c75;
    --secondary-text: #e5c07b;
    --accent-colour: #528bff;
}

.darkmode {
    --base-colour: #282c34;
    --base-variant: #4b5263;
    --text-colour: #e06c75;
    --secondary-text: #e5c07b;
    --accent-colour: #528bff;   
}

body {
    min-height: 100vh;
    background-color: var(--base-colour);
    color: var(--text-colour);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-colour);
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#nav {
  display: flex;
  gap: 1rem;
}

#theme-switch {
    height:50px;
    width:50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg{
    fill: var(--text-colour); 
    text-align: center;
}

#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

#tabs {
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

