:root {
  --base-colour: white;
  --base-variant: #fffdd0;
  --text-colour: #282c34;
  --secondary-text: #e5c07b;
  --accent-colour: #528bff;
}

.darkmode {
  --base-colour: #282c34;
  --base-variant: #4b5263;
  --text-colour: white;
  --secondary-text: #e5c07b;
  --accent-colour: #528bff;
  --header-height: 0px;
}

body {
  min-height: 100vh;
  background-color: var(--base-colour);
  /*background: url('images/pexels-googledeepmind-17483910.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}

header {
  display: flex;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  justify-content: space-between;
  align-items: center;
  /*box-shadow: 0px 2px 5px var(--text-colour);*/
  border: 2px solid var(--text-colour);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
}

#nav {
  display: flex;
  gap: 1rem;
  padding: 20px;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 20px;
  border-radius: 50%;
  /*background-color: var(--base-colour);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.fa-regular*/
#theme-switch .fa-regular {
  font-size: 24px;
  display: inline-block;
}

#theme-switch .fa-regular:last-child {
  display: none;
}

.darkmode #theme-switch .fa-regular:first-child {
  display: none;
}

.darkmode #theme-switch .fa-regular:last-child {
  display: block;
}

.projects {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin-top: 130px;
  margin-left: 12px;
  margin-right: 12px;
  /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);*/
  border: 2px solid var(--text-colour);
  border-radius: 20px;
}

.projects h2 {
  color: var(--text-colour);
  grid-column: 1 / span 1;
  margin: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--text-colour);
}

.card-header {
  display: flex;
  gap: 1rem;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.card-header i{
  margin: 10px;
  color: var(--text-colour);
}
.card-header h3 {
  margin: 10px;
  color: var(--text-colour);
}

.resume {
  display: block;
  padding: 20px;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  border: 2px solid var(--text-colour);
  border-radius: 20px;
}

.resume h2 {
  margin: 10px;
  color: var(--text-colour);
}

/* buttons */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}